a {
    color: black;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav ul {
    padding: 0;
  }
  
  .sidenav a {
    display: block;
    padding: 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .sidenav li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    align-items: center;
  }
  
  .sidenav li .active {
    background-color: white;
  }

  body {
    margin-left: 20%;
  }

  .Geburtstagsformular {
    text-align: center;
    margin-top: 5cm;
    margin-bottom: 1rem;
    display: block;
  }

  .Geburtstagsformular a {
    display: block;
    margin-top: 5px;
  }