.sidenav {
    height: 100%;
    width: 23%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav ul {
    padding: 0;
  }
  
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-left: 12px;
  }

  .sidenav li.nav-link a{
    font-size: 22px;
  }

  
  .sidenav .dropdown-btn {
    height: 50px;
    margin-top: 5px;
    font-size: 20px;
  }

  .sidenav img {
    width: 60%;
    height: 10%;;
    top: 0;
    left: 0;
  }

  .sidenav .nav-header {
    font-size: 25px;
    padding-left: 10px;
  }
  
  .sidenav li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    align-items: center;
  }
  
  .sidenav li .active {
    background-color: white;
  }

  .sidenav .dropdown-btn .active {
    background-color: white;
  }
  
  a {
    color: black;
  }

  .dropdown-container {
    display: none;
    background-color: gray;
    padding-left: 8px;
  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
    color: black;
  }