<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hilfsantrag_Menu</title>
    <link rel="stylesheet" href="/static/css/Hilfsanfrage/stylesheet_Kategorie.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <img class="logo" src="/static/img/Logo_final.svg">
        <ul class="menu-links">
            <li class="nav-header">Menü</li>
            <li class="nav-header"><a href="/Startseite/ServiceBereich.html">Mein Servicebereich</li></a>
            <li class = "nav-link">
                <a href="/Vermittlungsliste/Vermittlungsliste.html">Vermittlungsliste</a>
            </li>
            <button class="dropdown-btn">Hilfsantrag
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="Kategorie.html" class="active">Aktivität-Kategorie</a>
                <a href="Tag_Uhrzeit.html">Tag und Uhrzeit</a>
                <a href="Treffpunkt.html">Treffpunkt</a>
                <a href="Übersicht.html">Übersicht</a>
            </div>
            <button class="dropdown-btn">Hilfsangebot
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container2">
                <a href="/Hilfsangebot/Kategorie.html">Aktivität-Kategorie</a>
                <a href="/Hilfsangebot/Tag_Uhrzeit.html">Tag und Uhrzeit</a>
                <a href="/Hilfsangebot/Treffpunkt.html">Treffpunkt</a>
                <a href="/Hilfsangebot/Übersicht.html">Übersicht</a>
            </div>
            <li class = "nav-link">
                <a href="Registrierung_PLZ.html">Aktivitäten in der Nachbarschaft</a>
            </li class = "nav-link">
            <li class = "nav-link">
                <a>Bewertungen</a>
            </li>
            <li class = "nav-link">
                <a href="/Posteingang/Posteingang.html">Posteingang</p>
            </li>
            <li class = "nav-link">
                <a>Einstellungen</p>
            </li>
        </ul>
    </div>

    <div class="Kategorie-Formular">
        <h1>Wählen sie ein Bereich aus</h1>
        <p>In diesem Schritt wählen Sie einen Bereich aus, in dem Sie Hilfe benötigen bzw. Hilfe anbieten möchten.</p>
        <div class="Icons">
            <div class ="cell">
            <figure class="1_1">
                <img src="/static/img/hilfebeimeinkauf.svg" alt="SVG mit img laden" style="background-color: yellow;"></a>
                <input type="submit" value="Hilfe beim Einkauf" name="Hilfe beim Einkauf"/>
            </figure>
            </div>
            <div class ="cell">
            <figure class ="1_2">
                <img src="/static/img/HilfebeimTransport.svg" alt="SVG mit img laden" style="background-color: black;"></a>
                <input type="submit" value="Hilfe beim Transport" name="Hilfe beim Transport"/>
            </figure>
            </div>
            <div class ="cell">
            <figure class ="1_3">
                <img src="/static/img/Unterstutzungimhaushalt.svg" alt="SVG mit img laden" style="background-color: green;"></a>
                <input type="submit" value="Unterstützung im Haushalt" name="Unterstützung im Haushalt"/>
            </figure>
            </div>
            <div class ="cell">
            <figure class ="2_1">
                <img src="/static/img/BegleitungzumTermin.svg" alt="SVG mit img laden" style="background-color: purple;"></a>
                <input type="submit" value="Begleitung zum Termin" name="Begleitung zum Termin"/>
            </figure>
            </div>
            <div class ="cell">
            <figure class ="2_2">
                <img src="/static/img/HilfemitdemHaustier.svg" alt="SVG mit img laden" style="background-color: brown;"></a>
                <input type="submit" value="Hilfe mit dem Haustier" name="Hilfe mit dem Haustier"/>
            </figure>
            </div>
            <div class ="cell">
            <figure class ="2_3">
                <img src="/static/img/TechnischeProbleme.svg" alt="SVG mit img laden" style="background-color: lightblue;"></a>
                <input type="submit" value="Technische Probleme" name="Technische Probleme"/>
            </figure>
            </div>
            <figure class ="3_1">
                <img src="/static/img/Soziales&kultur.svg" alt="SVG mit img laden" style="background-color: red;"></a>
                <input type="submit" value="Soziales und Kultur" name="Soziales und Kultur"/>
            </figure>
            <figure class ="3_2">
                <img src="/static/img/Handwerkliche.svg" alt="SVG mit img laden" style="background-color: gray;"></a>
                <input type="submit" value="Handwerkliche Hilfe" name="Handwerkliche Hilfe"/>
            </figure>
            <figure class ="3_3">
                <img src="/static/img/Burokratie.svg" alt="SVG mit img laden" style="background-color: darkblue;"></a>
                <input type="submit" value="Bürokratie" name="Bürokratie"/>
            </figure>
        </div>
        <button class="below_Icons">
            <a href="Tag_Uhrzeit.html">
                Weiter
            </a>
        </button>
    </div>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
        
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
            } else {
              dropdownContent.style.display = "block";
            }
          });
        }</script>
</body>
</html>