<html>

<head>
    <link rel="stylesheet" href="/static/css/stylesheet_Reg_PW_Email.css">
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <ul class="menu-links">
            <li class = "nav-link">
                <a class="active">Email und Passwort</a>
            </li>
            <li class = "nav-link">
                <a href = "Registrierung_Name.html">Name</a>
            </li>
            <li class = "nav-link">
                <a href="Registrierung_PLZ.html">Postleitzahl</a>
            </li class = "nav-link">
            <li class = "nav-link">
                <a href="Registrierung_Geburtsdatum.html">Geburtsdatum</a>
            </li>
            <li class = "nav-link">
                <a href="Registrierung_Zusammenfassung.html">Zusammenfassung</a>
            </li>
        </ul>

    </div>




    <div class="Registrierungsformular" id="Registrierungsformular">
        <h1 class="Text">Registrieren sie sich !</h1>
        <br><br><br>
        <label>E-Mail</label>
        <form action="#" method="POST">
        <input type="text" name="email" size="30" maxlength="50" margin="15 px">
        <label>Passwort</label>
        <input type="password" name="passwordReg" size="30" maxlength="50">
        <label>Passwort wiederholen</label>
        <input type="password" name="passwordRep" size="30" maxlength="50">
        <input type="submit" value="Weiter" name="next">
        <input type="reset" value="Daten zurücksetzen">
        </form>
        <a href="/">
            <button type="button">Zurück zur Anmeldung</button>

    </div>


</body>

</html>