<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrierung_Geburtsdatum</title>
    <link rel="stylesheet" href="/static/css/stylesheet_Reg_Geburtstag.css">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <ul class="menu-links">
            <li class = "nav-link">
                <a href = "Registrierung_Email_PW.html">Email und Passwort</a>
            </li>
            <li class = "nav-link">
                <a href="Registrierung_Name.html">Name</a>
            </li>
            <li class = "nav-link">
                <a href="Registrierung_PLZ.html">Postleitzahl</a>
            </li class = "nav-link">
            <li class = "nav-link">
                <a class="active">Geburtsdatum</a>
            </li>
            <li class = "nav-link">
                <a href="Registrierung_Zusammenfassung.html">Zusammenfassung</a>
            </li>
        </ul>
    </div>

    <div class="Geburtstagsformular">
        <h1>Geben Sie Ihr Geburtsdatum ein!</h1>
        <p>Um das beste Vermittlungsergebnis zu erzielen, geben Sie bitte folgende Daten ein.</p>
        <label><strong>Geburtsdatum</strong> (Format Tag/Monat/Jahr)</label><br>
        <form method="POST">
        <input type="text" name="geburtsdatum" size="30" maxlength="50">
        <br>
        <input type="submit" value="Weiter" name="next">
        </form>
            <button>Zur&uuml;ck</button>
    </div>



</body>
</html>