<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hilfsantrag_Menu</title>
    <link rel="stylesheet" href="/static/css/Hilfsangebot/stylesheet_treffpunkt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <img class="logo" src="/static/img/Logo_final.svg">
        <ul class="menu-links">
            <li class="nav-header">Menü</li>
            <li class="nav-header"><a href="/Startseite/ServiceBereich.html">Mein Servicebereich</li></a>
            <li class = "nav-link">
                <a href="/Vermittlungsliste/Vermittlungsliste.html">Vermittlungsliste</a>
            </li>
            <button class="dropdown-btn">Hilfsantrag
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="Kategorie.html" >Aktivität-Kategorie</a>
                <a href="Tag_Uhrzeit.html" >Tag und Uhrzeit</a>
                <a href="Treffpunkt.html" class="active">Treffpunkt</a>
                <a href="Übersicht.html">Übersicht</a>
            </div>
            <button class="dropdown-btn">Hilfsangebot
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container2">
                <a href="/Hilfsangebot/Kategorie.html">Aktivität-Kategorie</a>
                <a href="/Hilfsangebot/Tag_Uhrzeit.html">Tag und Uhrzeit</a>
                <a href="/Hilfsangebot/Treffpunkt.html">Treffpunkt</a>
                <a href="/Hilfsangebot/Übersicht.html">Übersicht</a>
            </div>
            <li class = "nav-link">
                <a href="Registrierung_PLZ.html">Aktivitäten in der Nachbarschaft</a>
            </li class = "nav-link">
            <li class = "nav-link">
                <a>Bewertungen</a>
            </li>
            <li class = "nav-link">
                <a href="/Posteingang/Posteingang.html">Posteingang</p>
            </li>
            <li class = "nav-link">
                <a>Einstellungen</p>
            </li>
        </ul>
    </div>
    <div class="Treffpunkt-Formular">
        <form  method="POST">
        <h1>Wählen Sie einen Treffpunkt aus</h1>
        <p>Wählen Sie einen Ort, an dem Sie Hilfe benötigen/anbieten.</p>
        <label>PLZ</label>
        <form method="POST">
        <input type="text" name="plz" size="30" maxlength="50">
        <input type="submit" value="Weiter" name="next">
        </form>

</body>
</html>